/*This is a cascading style sheet to format the html element*/



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C70056;
}

li {
  float: left;
}

#home_icon
{
  display: block;
  color: white;
  text-align: center;
  padding-right: 10px; 
  text-decoration: none;
}

.header 
{
	display: block;
	color: white;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
.header:hover {
  background-color: #7D0D3E;
}